* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  background: #f7f7f7;
  color: #333;
}

header {
  background: #910b28;
  color: rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover, nav a.activo {
  color: #ffd700;
}

/* HERO */
.hero {
  text-align: center;
  background: linear-gradient(135deg, #910b3e, #ff006a);
  color: white;
  padding: 4rem 2rem;
}

.hero .btn {
  background: white;
  color: #910b4a;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.hero .btn:hover {
  background: #ae00ff;
}

/* SERVICIOS */
.servicios {
  padding: 2rem;
  text-align: center;
}

.servicios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.servicio {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* PORTAFOLIO */
.portafolio {
  padding: 2rem;
  text-align: center;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.galeria div {
  background: white;
  border-radius: 10px;
  padding: 10px;
}

.galeria img {
  width: 100%;
  border-radius: 8px;
}

/* NOSOTROS */
.nosotros {
  text-align: center;
  padding: 2rem;
}

.equipo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.equipo div {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 200px;
}

/* CONTACTO */
.contacto {
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #0b3d91;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #d40031;
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }
}
